.worldContainer {
  padding: 0 0rem;
  width:100vw;
  height:100vh;
  background: #000000;
}

.container {
  padding: 0 0rem;
}

.main {
  background: url(/_background.png) no-repeat top center;
  background-color: rgba(0, 0, 0, 0.95);
  background-size: cover;
  position: relative;
  padding-top: 80px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.menjisWorldTitle {
  margin-top: -1rem;
  margin-bottom: -2rem;
}
.menjiOnWorld {
  margin-bottom: 3rem;
}

.meetTheTeamTitle {
  margin-bottom: 1rem;
}
.bottomGraphic {
  margin-top: -2rem;
}

.copyright {
  background-color: rgb(41,41,41);
  font-size: 1em;
  font-family: 'Fredoka One', cursive;
  font-variant : small-caps;
  color: #ffffff;
  text-align: center;
  padding-top: 1.1rem;
  padding-bottom: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.copyright_subcontainer {
  background-color: rgb(41,41,41);
  font-size: 1.15em;
  font-family: 'Fredoka One', cursive;
  font-variant : small-caps;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  text-decoration: underline;  
}
.pdfPopupLink {
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
}

.teamContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top; 
  padding-top: 0.74rem;
  margin-right: 0.5rem;
}
.teamMember {
  min-width: 23%;
  max-width: 23%;
  transition: all .2s,box-shadow .08s ease-in;
}
.teamMemberImage {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}
.teamMemberInfo {
  min-width: 23%;
  max-width: 23%;
  transition: all .2s,box-shadow .08s ease-in;
}
.socialButtonTeamContainer {
  /* min-width: 23%;
  max-width: 23%; */
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;   
}
.socialButtonTeam {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px solid #ffffff;
  color: #ffffff;
  transition: all .2s,box-shadow .08s ease-in;
  text-decoration: none;
  cursor: pointer;
  z-index: 99999;
}

.navBarContainer {
  width: 100%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(41,41,41);
  position: fixed;
  z-index: 9999;
}
.navBarLeft {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1.75rem;
  display: flex;
  flex: 1;
  justify-content: left;
  flex-direction: row;
  align-items: left;
  flex-grow: 1;
  flex-wrap: wrap;
}
.navBarRight {
  display: flex;
  flex: 1;
  justify-content: right;
  flex-direction: row;
  align-items: right;
  flex-grow: 1;
  margin-right: 1rem;
}

.mintButtonContainer {
  width: 100%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
  padding-top: 8.25rem;
}
.mintButton {
  z-index: 9999;
  appearance: button;
  backface-visibility: hidden;
  background-color: rgb(0, 194, 10);
  border-radius: 40px;
  border-width: 0px;
  box-shadow: 0 0.2rem 0.74rem rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Fredoka One', cursive;
  font-size: 1.7rem;
  font-weight: 100;
  height: 3.25rem;
  width: 80%;
  line-height: 1.15;
  margin-right: 0.7rem;
  outline: none;
  overflow: hidden;
  padding: 0.7rem 35px;
  position: center;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  -webkit-appearance: none;
  touch-action: manipulation;
  position: fixed;
}
.mintButton:focus {
  box-shadow: 0 0.5rem 0.74rem rgba(0, 0, 0, 0.9);
}

.alertPopup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  font-family: 'Fredoka One', cursive;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.alertPopup div {
  background-color: rgb(41, 41, 41);
  border-radius: 10px;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  font-family: 'Fredoka One', cursive;
  justify-content: center;
  align-items: center;
  height: auto;
  width: fit-content;
  padding-right: 3.5rem;
  padding-left: 2.5rem;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  word-wrap: break-word;
  color:#FFFFFF;
}
.alertPopup a {
  border-radius: 0px;
  box-shadow: 0 0rem 0rem rgba(0, 0, 0, 0);
  box-sizing: border-box;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  font-family: 'Fredoka One', cursive;
  word-wrap: break-word;
  margin-left: 25%;
  margin-top: 10%;
  color:#c6fffb;
  text-decoration: underline;
  padding: 0;
}
.alertPopup span::after {
  float: right;
  right: 10%;
  content: "X"; 
  color:#FFFFFF;
  font-weight: 500;
  cursor: pointer;
  font-size: larger;
  position: absolute;
  right: 1.2rem;
  top: 1rem;
}

.masterImage {
  margin-bottom: 4.5rem;
  margin-top: 4.5rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.inputNumber {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  box-sizing: border-box;
  color: rgb(41, 41, 41);
  font-family: 'Fredoka One', cursive;
  font-weight: 100;
  height: 54px;
  outline: none;
  overflow: hidden;
  position: center;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 80%;
  font-size: 1.7rem;
  font-family: 'Fredoka One', cursive;
  background-color: rgb(212, 212, 212);
  margin-bottom: 1.9rem;
  padding-top: 0.35em;
}
.inputNumber2 {
  border-radius: 40px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  box-sizing: border-box;
  color: rgb(41, 41, 41);
  font-family: 'Fredoka One', cursive;
  font-size: 1.6rem;
  font-weight: 100;
  height: 54px;
  outline: none;
  overflow: hidden;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  position: center;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  font-family: 'Fredoka One', cursive;
  background-color: rgb(212, 212, 212);
  margin-top: 0.6rem;
  margin-bottom: 0.49rem;
}

.mintModal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99997;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  font-family: 'Fredoka One', cursive;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.mintModalHeader {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  transform: translateZ(0);
  background-color: rgb(41, 41, 41);
  transition: all .2s,box-shadow .08s ease-in;
}
.mintModalHeader h2 {
  font-variant: small-caps;
}
.mintModalHeader h2 { 
  background-color: rgb(41, 41, 41);
  color: rgb(255, 255, 255);
  font-size: 2.5em;
  font-weight: 100;
  font-family: 'Fredoka One', cursive;
  display: block;
  border: #000000;
  margin-bottom: 0rem;
}
.mintModalHeader h3 { 
  background-color: rgb(41, 41, 41);
  color: rgb(255, 255, 255);
  font-size: 1.25em;
  font-weight: 100;
  font-family: 'Fredoka One', cursive;
  display: block;
  border: #000000;
  margin-bottom: 0rem;
  margin-top: 0.5rem;
  border-radius: 40px;
}
.mintModalHeader h3 h3{ 
  background-color: rgb(212, 212, 212);
  color: rgb(41, 41, 41);
  font-size: 1.25em;
  font-weight: 100;
  font-family: 'Fredoka One', cursive;
  display: block;
  border: #000000;
  font-size: 1.65rem;
  height: 50px;
  margin-top: 0.75rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
}
.mintModalHeader button::after {
  float: right;
  right: 10%;
  content: "X"; 
  font-weight: 500;
  cursor: pointer;
  font-size: larger;
  position: absolute;
  right: 1.2rem;
  top: 1rem;
  color: rgb(255, 255, 255);
}
.mintModalCloseButton {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.25rem;
}

.mintModalHeader2 {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  transform: translateZ(0);
  background-color: rgb(41, 41, 41);
  transition: all .2s,box-shadow .08s ease-in;
}

.mintModalBody {
  background-color: rgb(41, 41, 41);
  border-radius: 20px;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  font-family: 'Fredoka One', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 550px;
  width: 90%;
  padding-bottom: 2rem;
}

.mintModalInputContainer {
  background-color: rgb(41, 41, 41);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  font-family: 'Fredoka One', cursive;
  width: 80%;
}
.mintModalInputContainer2 {
  background-color: rgb(41, 41, 41);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  font-family: 'Fredoka One', cursive;
  width: 89%;
}
.mintModalInputContainer2 p {
  background-color: rgb(41, 41, 41);
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  font-weight: 100;
  font-family: 'Fredoka One', cursive;
  display: block;
  border: #000000;
}
.mintModalInputContainer3 {
  background-color: rgb(41, 41, 41);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  font-family: 'Fredoka One', cursive;
  width: 80%;
  margin-bottom: -1rem;
}
.mintModalInputContainer3 p {
  background-color: rgb(41, 41, 41);
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  font-weight: 100;
  font-family: 'Fredoka One', cursive;
  display: block;
  border: #000000;
  margin-bottom: -0.75rem;
}
.mintModalSection_left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
}
.mintModalSection_left_2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
}
.mintModalSection_left_2 p {
  padding: 0rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  margin-left: 0rem;
  margin-right: 0rem;

}
.mintModalSection_right {
  width: 50%;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-wrap: nowrap;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
}


.mintModalButton {
  background-color: rgb(212, 212, 212);
  border-radius: 40px;
  border-width: 0px;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  color: rgb(41, 41, 41);
  cursor: pointer;
  font-family: 'Fredoka One', cursive;
  font-size: 1.7rem;
  font-weight: 100;
  height: 50px;
  line-height: 1.15;
  width: 100%;
  margin-top: 1rem;
  outline: none;
  overflow: hidden;
  position: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.mintModalButton:focus {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.9);
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
}
.mintModalButton:hover {
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.9);
}
.mintModalButton:active {
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.9);
}

.mintNumberBoxWithButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  font-family: 'Fredoka One', cursive;
  width: 100%;
}
.plusSign {
  background-color: rgb(212, 212, 212);
  border-radius: 0px 40px 40px 0px;
  /* box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.9); */
  box-sizing: border-box;
  color: rgb(41, 41, 41);
  cursor: pointer;
  font-family: 'Fredoka One', cursive;
  font-size: 2.25rem;
  height: 54px;
  width: 10%;
  outline: none;
  overflow: hidden;
  position: center;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding-top: 0.1rem;
  margin-bottom: 0.25rem;
  padding-right: 1.5rem;
}
.minusSign {
  background-color: rgb(212, 212, 212);
  border-radius: 40px 0px 0px 40px;
  /* box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.9); */
  box-sizing: border-box;
  color: rgb(41, 41, 41);
  cursor: pointer;
  font-family: 'Fredoka One', cursive;
  font-size: 2.25rem;
  height: 54px;
  width: 10%;
  outline: none;
  overflow: hidden;
  position: center;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding-left: 0.75rem;
  margin-bottom: 0.25rem;

}


.mintPopup_ConnectButton {
  appearance: button;
  backface-visibility: hidden;
  background-color: rgb(4, 4, 4);
  border-width: 0px;
  border-radius: 40px;
  background-color: rgb(212, 212, 212);
  box-shadow: 0 0.2rem 0.51rem rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  color: rgb(41, 41, 41);
  cursor: pointer;
  font-family: 'Fredoka One', cursive;
  font-size: 1.5rem;
  font-weight: 100;
  height: 3rem;
  line-height: 1.15;
  width: 100%;
  outline: none;
  overflow: hidden;
  position: center;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  padding: 0.7rem 35px;
  -webkit-appearance: none;
}
.mintPopup_ConnectButton:focus {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.9);
}

.mintModalLoading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  font-family: 'Fredoka One', cursive;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.mintModalLoadingBody {
  background-color: rgba(214, 214, 214, 0.444);
  border-radius: 20px;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  font-family: 'Fredoka One', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  max-width: 550px;
  min-height: 750px;
  padding-bottom: 2rem;
}